*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.head{
    background-color: #121212;
    height: 150px;
    display: inline-flex;
    width: 100%;
}

.logo{
    margin-left: 2rem;
    margin-right: 1rem;
    width: 150px;
    height: 150px;
}

h1{
    font-family: 'Yesteryear';
    color: #ffffff;
    font-size: 35px;
}

.hour{
    white-space: nowrap;
    width: 300px;
    height: 50px;
    margin-top: 2.5rem;
    text-align: left;
}

/* ----------------------------------------------------------- */

.linkPage{
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    white-space: nowrap;
}

.linkPage h1:hover{
    color:#a1a1a1;
    transition: 0.4s;

}

/* ----------------------------------------------------------- */

.Buscar{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left:  2rem;
    position: absolute;
    right: 0px;
    margin-right: 2rem;
}

.linkRedes{
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 50px;
    height: 50px;
}

.linkRedes img{
    width: 50px;
    height: 50px;
}

.linkRedes img:hover{
    filter: contrast(2);
    transition: 0.5s;

}

#Login{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.Buscar button{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 150px;
    height: 25px;
    border-radius: 7px;
    background-color: #a1a1a1;
    
    text-align: center;
    color: #ffffff;
    font-family: 'Yesteryear';
    font-size: 16px;
}

.Buscar button:hover{
    color: #B20000;
    transition: 0.2s;
}

::placeholder{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}